@model string
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
<h2>OOPS!</h2>
<h3>Something bad happening</h3>
<p>@Model</p>
</body>
</html>
