@model IEnumerable<DataAccess.Entities.Task>

<h2>Task list</h2>
<ul id="taskList">
    @foreach (var task in Model)
    {
        Html.RenderPartial("Task", task);
    }
</ul>

<br/>
<button class="btn btn-success" onclick="onSaveClick()">Save</button>
<button class="btn btn-danger" onclick="onDeleteClicked()">Delete Finished</button>
